.contentView {
    text-align: center;
    align-content: center;
    padding-left: 22%;
    background-color: #fcfcfc;
    padding-top:4%;
    padding-bottom:2%;
}
.row {
   
    width: 65%;
    padding: 0.5rem;
    margin-right:20%;
    margin-bottom:2rem;
    color: black;
    border-radius: 40px;
    box-shadow: inset 0 0 0 2px rgba(185, 181, 181, 0.69);
}

.col-lg-12.col-md-12.col-sm-12.col-xs-12.itemm {
    padding: 1%;
    align-content: center;
    text-align: center;
    font-size: 180%;
}

.col-lg-6.col-md-6.col-sm-6.col-xs-6.itemm{
    padding: 1%;
    align-content: center;
    text-align: center;
    font-size:180%;
}
