* {
    box-sizing: border-box;
}

.contentView {
    text-align: center;
    align-content: center;
    padding-left: 10rem;
    background-color: #fcfcfc;
    padding-top: 4%;
    padding-bottom: 2%;
}

.row.inside {
    width: 65%;
    padding: 0.5rem;
    margin-bottom: 2rem;
    color: black;
    border-radius: 20px;
    color: black;
    display: inline-block;
    background: #ffffff;
    box-shadow: inset 0 0 0 5px #fff;
}

.row.going:hover {
    box-shadow: inset 0 0 0 2px rgba(20, 53, 236, 0.86);
}

.row.cmpl:hover {
    box-shadow: inset 0 0 0 2px rgba(27, 92, 27, 0.81);
}

.row.stp:hover {
    box-shadow: inset 0 0 0 2px rgba(139, 0, 0, 0.97);
}
.row.sch:hover {
    box-shadow: inset 0 0 0 2px rgba(220, 120, 14, 0.94);
}

.col-lg-12.col-md-12.col-sm-12.col-xs-12.itemm {
    padding: 1%;
    align-content: center;
    text-align: center;
    font-size: 100%;
}

.col-lg-6.col-md-6.col-sm-6.col-xs-6.itemm {
    padding: 1%;
    align-content: center;
    text-align: center;
    font-size: 100%;
}

p.head {
    height: 3rem;
}

p.ll {
    height: 2.5rem;
    font-size: 105%;
}
