@{
    ViewData["Title"] = "Dashboard";
}

<h2>Please select an option</h2>
<div>
    <div>
        <a asp-area="" asp-controller="AnalysesModels" asp-action="Index">
            Model views
        </a>
        <br />
    </div>
</div>