@model NetControlApp.Models.Dashboard2ViewModels.NewAnalysisViewModel

@{
    ViewData["Title"] = "New analysis";
}

<h2>@ViewData["Title"]</h2>

<div class="container-fluid mx-auto">
    <form method="post">
        <div class="form-row" style="color:rgb(0,0,0);">
            <div class="col-md-6 offset-lg-3 offset-xl-5" id="message" style="max-width:480px;margin-left:auto;margin-bottom:30px;margin-right:auto;margin-top:30px;">
                <fieldset class="justify-content-center align-items-center align-content-center align-self-center">
                    <legend style="margin-left:auto;margin-right:auto;"><strong><span style="text-decoration: underline;">Analysis</span></strong></legend>
                </fieldset>
                <div class="form-group">
                    <input asp-for="AnalysisName" class="form-control" />
                </div>
                <button type="submit" class="btn btn-default">Set password</button>
            </div>
        </div>
    </form>
</div>