@{
    ViewData["Title"] = "Dashboard";
}

<div>
    <p>Please select an option</p>
    <a asp-area="" asp-action="ViewAll">View recent</a>
    <br />
    <a asp-area="" asp-action="Create">New Analysis</a>
    <br />
</div>
