@model NetControlApp.Models.AnalysisModel
    <link rel="stylesheet" href="~/assets/fonts/typicons.min.css">
    <link rel="stylesheet" href="~/assets/css/create.css" />

    @{
        ViewData["Title"] = "Create new analysis";
    }

    <h2>@ViewData["Title"]</h2>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (Model != null)
                {
                    if (Model.Status != null)
                    {
                        <div class="text-danger">@Model.Status</div>
                    }
                }
                <div class="form-group">
                    <label asp-for="AnalysisName" class="control-label"></label>
                    <input asp-for="AnalysisName" class="form-control" />
                    <span asp-validation-for="AnalysisName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input id="isSeed" asp-for="UserIsNetworkSeed" /> @Html.DisplayNameFor(model => model.UserIsNetworkSeed)
                        </label>
                    </div>
                </div>
                <div id="generationType" class="collapse form-group">
                    <label asp-for="UserGivenNetworkGeneration" class="control-label"></label>
                    <select asp-for="UserGivenNetworkGeneration" class="form-control">
                        <option value="neighbors">All interactions contaning the seed nodes</option>
                        <option value="gap0">Interactions only between the seed nodes</option>
                        <option value="gap1">Interactions between seed nodes with one intermediary node</option>
                        <option value="gap2">Interactions between seed nodes with two intermediary nodes</option>
                        <option value="gap3">Interactions between seed nodes with three intermediary nodes</option>
                    </select>
                    <span asp-validation-for="UserGivenNetworkGeneration" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserGivenNodes" class="control-label"></label>
                    <textarea id="nodesTextArea" asp-for="UserGivenNodes" class="form-control" rows="5"></textarea>
                    <div class="file-upload">
                        <label for="nodesFile" class="file-upload__label">Upload a file</label>
                        <input id="nodesFile" class="file-upload__input" type="file" />
                    </div>
                        <span asp-validation-for="UserGivenNodes" class="text-danger"></span>
                    </div>
                <div class="form-group">
                    <label asp-for="UserGivenTarget" class="control-label"></label>
                    <textarea id="targetsTextArea" asp-for="UserGivenTarget" class="form-control" rows="5"></textarea>
                    <div class="file-upload">
                        <label for="targetsFile" class="file-upload__label">Upload a file</label>
                        <input id="targetsFile" class="file-upload__input" type="file" name="file-upload"/>
                    </div>
                        <span asp-validation-for="UserGivenTarget" class="text-danger"></span>
                    </div>
                <div class="form-group">
                    <label asp-for="UserGivenDrugTarget" class="control-label"></label>
                    <textarea id="drugtargetsTextArea" asp-for="UserGivenDrugTarget" class="form-control" rows="5"></textarea>
                    <div class="file-upload">
                        <label for="drugtargetsFile" class="file-upload__label">Upload a file</label>
                        <input id="drugtargetsFile" class="file-upload__input" type="file" />
                    </div>
                    <span asp-validation-for="UserGivenDrugTarget" class="text-danger"></span>
                </div>
                    <div class="form-group">
                        <label asp-for="AlgorithmType" class="control-label"></label>
                        <select id="selectAlgorithm" asp-for="AlgorithmType" class="form-control">
                            <option value="">Please choose an algorithm</option>
                            <option value="genetic">Genetic algorithm</option>
                            <option value="greedy">Greedy algorithm</option>
                        </select>
                        <span asp-validation-for="AlgorithmType" class="text-danger"></span>
                    </div>
                    <div class="collapse genetic-parameters-form form-group">
                        <label asp-for="GeneticRandomSeed" class="control-label"></label>
                        <input asp-for="GeneticRandomSeed" class="form-control genetic-parameters" />
                        <span asp-validation-for="GeneticRandomSeed" class="text-danger"></span>
                    </div>
                    <div class="collapse genetic-parameters-form form-group">
                        <label asp-for="GeneticMaxIteration" class="control-label"></label>
                        <input value="10000" asp-for="GeneticMaxIteration" class="form-control genetic-parameters" />
                        <span asp-validation-for="GeneticMaxIteration" class="text-danger"></span>
                    </div>
                    <div class="collapse genetic-parameters-form form-group">
                        <label asp-for="GeneticMaxIterationNoImprovement" class="control-label"></label>
                        <input value="1000" asp-for="GeneticMaxIterationNoImprovement" class="form-control genetic-parameters" />
                        <span asp-validation-for="GeneticMaxIterationNoImprovement" class="text-danger"></span>
                    </div>
                    <div class="collapse genetic-parameters-form form-group">
                        <label asp-for="GeneticMaxPathLength" class="control-label"></label>
                        <input value="5" asp-for="GeneticMaxPathLength" class="form-control genetic-parameters" />
                        <span asp-validation-for="GeneticMaxPathLength" class="text-danger"></span>
                    </div>
                    <div class="collapse genetic-parameters-form form-group">
                        <label asp-for="GeneticPopulationSize" class="control-label"></label>
                        <input value="80" asp-for="GeneticPopulationSize" class="form-control genetic-parameters" />
                        <span asp-validation-for="GeneticPopulationSize" class="text-danger"></span>
                    </div>
                    <div class="collapse genetic-parameters-form form-group">
                        <label asp-for="GeneticElementsRandom" class="control-label"></label>
                        <input value="15" asp-for="GeneticElementsRandom" class="form-control genetic-parameters" />
                        <span asp-validation-for="GeneticElementsRandom" class="text-danger"></span>
                    </div>
                    <div class="collapse genetic-parameters-form form-group">
                        <label asp-for="GeneticPercentageRandom" class="control-label"></label>
                        <input value="0.25" asp-for="GeneticPercentageRandom" class="form-control genetic-parameters" />
                        <span asp-validation-for="GeneticPercentageRandom" class="text-danger"></span>
                    </div>
                    <div class="collapse genetic-parameters-form form-group">
                        <label asp-for="GeneticPercentageElite" class="control-label"></label>
                        <input value="0.25" asp-for="GeneticPercentageElite" class="form-control genetic-parameters" />
                        <span asp-validation-for="GeneticPercentageElite" class="text-danger"></span>
                    </div>
                    <div class="collapse genetic-parameters-form form-group">
                        <label asp-for="GeneticProbabilityMutation" class="control-label"></label>
                        <input value="0.001" asp-for="GeneticProbabilityMutation" class="form-control genetic-parameters" />
                        <span asp-validation-for="GeneticProbabilityMutation" class="text-danger"></span>
                    </div>
                    <div class="collapse greedy-parameters-form form-group">
                        <label asp-for="GreedyRandomSeed" class="control-label"></label>
                        <input asp-for="GreedyRandomSeed" class="form-control greedy-parameters" />
                        <span asp-validation-for="GreedyRandomSeed" class="text-danger"></span>
                    </div>
                    <div class="collapse greedy-parameters-form form-group">
                        <label asp-for="GreedyMaxIteration" class="control-label"></label>
                        <input value="10000" asp-for="GreedyMaxIteration" class="form-control greedy-parameters" />
                        <span asp-validation-for="GreedyMaxIteration" class="text-danger"></span>
                    </div>
                    <div class="collapse greedy-parameters-form form-group">
                        <label asp-for="GreedyMaxIterationNoImprovement" class="control-label"></label>
                        <input value="1000" asp-for="GreedyMaxIterationNoImprovement" class="form-control greedy-parameters" />
                        <span asp-validation-for="GreedyMaxIterationNoImprovement" class="text-danger"></span>
                    </div>
                    <div class="collapse greedy-parameters-form form-group">
                        <label asp-for="GreedyMaxPathLength" class="control-label"></label>
                        <input value="5" asp-for="GreedyMaxPathLength" class="form-control greedy-parameters" />
                        <span asp-validation-for="GreedyMaxPathLength" class="text-danger"></span>
                    </div>
                    <div class="collapse greedy-parameters-form form-group">
                        <label asp-for="GreedyRepeats" class="control-label"></label>
                        <input value="1" asp-for="GreedyRepeats" class="form-control greedy-parameters" />
                        <span asp-validation-for="GreedyRepeats" class="text-danger"></span>
                    </div>
                    <div class="collapse greedy-parameters-form form-group">
                        <label asp-for="GreedyHeuristics" class="control-label"></label>
                        <input value="A,B,C,D,E,F,G;Z" asp-for="GreedyHeuristics" class="form-control greedy-parameters" />
                        <span asp-validation-for="GreedyHeuristics" class="text-danger greedy-parameters"></span>
                    </div>
                    <div class="form-group">
                        <input id="createNew" type="submit" value="Create" class="btn btn-default" data-toggle="modal" data-target="#generationInProgress" />
                    </div>
</form>
        </div>
    </div>

    <div>
        <a asp-action="Index"><i class="typcn typcn-arrow-back" style="font-size:200%; color:black"></i> Back to Dashboard</a>
    </div>

    <div class="modal fade" role="alertdialog" id="generationInProgress" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Network generation in progress. Please don't close the current window.</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/js/site.js"></script>