@model NetControlApp.Models.AnalysisModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>AnalysesModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AnalysisId" />
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnalysisName" class="control-label"></label>
                <input asp-for="AnalysisName" class="form-control" />
                <span asp-validation-for="AnalysisName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="UserIsNetworkSeed" /> @Html.DisplayNameFor(model => model.UserIsNetworkSeed)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="UserGivenNodes" class="control-label"></label>
                <input asp-for="UserGivenNodes" class="form-control" />
                <span asp-validation-for="UserGivenNodes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserGivenTarget" class="control-label"></label>
                <input asp-for="UserGivenTarget" class="form-control" />
                <span asp-validation-for="UserGivenTarget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserGivenDrugTarget" class="control-label"></label>
                <input asp-for="UserGivenDrugTarget" class="form-control" />
                <span asp-validation-for="UserGivenDrugTarget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetworkNodeCount" class="control-label"></label>
                <input asp-for="NetworkNodeCount" class="form-control" />
                <span asp-validation-for="NetworkNodeCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetworkNodes" class="control-label"></label>
                <input asp-for="NetworkNodes" class="form-control" />
                <span asp-validation-for="NetworkNodes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetworkEdgeCount" class="control-label"></label>
                <input asp-for="NetworkEdgeCount" class="form-control" />
                <span asp-validation-for="NetworkEdgeCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetworkEdges" class="control-label"></label>
                <input asp-for="NetworkEdges" class="form-control" />
                <span asp-validation-for="NetworkEdges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetworkTargetCount" class="control-label"></label>
                <input asp-for="NetworkTargetCount" class="form-control" />
                <span asp-validation-for="NetworkTargetCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetworkTargets" class="control-label"></label>
                <input asp-for="NetworkTargets" class="form-control" />
                <span asp-validation-for="NetworkTargets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetworkDrugTargetCount" class="control-label"></label>
                <input asp-for="NetworkDrugTargetCount" class="form-control" />
                <span asp-validation-for="NetworkDrugTargetCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetworkDrugTargets" class="control-label"></label>
                <input asp-for="NetworkDrugTargets" class="form-control" />
                <span asp-validation-for="NetworkDrugTargets" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetworkBestResultCount" class="control-label"></label>
                <input asp-for="NetworkBestResultCount" class="form-control" />
                <span asp-validation-for="NetworkBestResultCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NetworkBestResultNodes" class="control-label"></label>
                <input asp-for="NetworkBestResultNodes" class="form-control" />
                <span asp-validation-for="NetworkBestResultNodes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduledToStop" class="control-label"></label>
                <input asp-for="ScheduledToStop" class="form-control" />
                <span asp-validation-for="ScheduledToStop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlgorithmType" class="control-label"></label>
                <input asp-for="AlgorithmType" class="form-control" />
                <span asp-validation-for="AlgorithmType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneticRandomSeed" class="control-label"></label>
                <input asp-for="GeneticRandomSeed" class="form-control" />
                <span asp-validation-for="GeneticRandomSeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneticMaxIteration" class="control-label"></label>
                <input asp-for="GeneticMaxIteration" class="form-control" />
                <span asp-validation-for="GeneticMaxIteration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneticMaxIterationNoImprovement" class="control-label"></label>
                <input asp-for="GeneticMaxIterationNoImprovement" class="form-control" />
                <span asp-validation-for="GeneticMaxIterationNoImprovement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneticMaxPathLength" class="control-label"></label>
                <input asp-for="GeneticMaxPathLength" class="form-control" />
                <span asp-validation-for="GeneticMaxPathLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneticPopulationSize" class="control-label"></label>
                <input asp-for="GeneticPopulationSize" class="form-control" />
                <span asp-validation-for="GeneticPopulationSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneticElementsRandom" class="control-label"></label>
                <input asp-for="GeneticElementsRandom" class="form-control" />
                <span asp-validation-for="GeneticElementsRandom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneticPercentageRandom" class="control-label"></label>
                <input asp-for="GeneticPercentageRandom" class="form-control" />
                <span asp-validation-for="GeneticPercentageRandom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneticPercentageElite" class="control-label"></label>
                <input asp-for="GeneticPercentageElite" class="form-control" />
                <span asp-validation-for="GeneticPercentageElite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneticProbabilityMutation" class="control-label"></label>
                <input asp-for="GeneticProbabilityMutation" class="form-control" />
                <span asp-validation-for="GeneticProbabilityMutation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GreedyRandomSeed" class="control-label"></label>
                <input asp-for="GreedyRandomSeed" class="form-control" />
                <span asp-validation-for="GreedyRandomSeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GreedyMaxIteration" class="control-label"></label>
                <input asp-for="GreedyMaxIteration" class="form-control" />
                <span asp-validation-for="GreedyMaxIteration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GreedyMaxIterationNoImprovement" class="control-label"></label>
                <input asp-for="GreedyMaxIterationNoImprovement" class="form-control" />
                <span asp-validation-for="GreedyMaxIterationNoImprovement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GreedyMaxPathLength" class="control-label"></label>
                <input asp-for="GreedyMaxPathLength" class="form-control" />
                <span asp-validation-for="GreedyMaxPathLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GreedyHeuristics" class="control-label"></label>
                <input asp-for="GreedyHeuristics" class="form-control" />
                <span asp-validation-for="GreedyHeuristics" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

