<link rel="stylesheet" href="~/assets/css/styles.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@{
    ViewData["Title"] = "Home Page";
}


<div class="features-boxed">
    <div class="intro">
        <h2 class="text-center">Please select an option</h2>
    </div>
    <div class="row justify-content-center features" id="content">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5 item">
            <div class="box" style="background-color:rgb(61,67,208);height:209px;padding:39px;">
                <div class="row">
                    <div class="col" style="height:90px;"><i class="fa fa-list-ul icon" style="color:rgb(255,255,255);margin-bottom:0px;max-height:60px;min-height:60px;margin-top:15px;"></i></div>
                </div>
                <h3 class="name" style="color:rgb(255,255,255);">View recent</h3>
                <p class="description"></p><a href="#" class="learn-more" style="color:rgb(255,255,255);"></a>
            </div>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-5 item">
            <div class="box" style="height:209px;padding:39px;background-color:rgb(255, 106, 0);">
                <div class="row">
                    <div class="col"><i class="icon ion-android-checkmark-circle icon" style="height:60px;width:60px;padding:0px;margin-top:0px;color:rgb(255,255,255);padding-bottom:0px;margin-bottom:0px;"></i></div>
                </div>
                <h3 class="name" style="padding:0px;/*padding-bottom:0px;*/padding-top:0px;color:rgb(255,255,255);">New analysis</h3>
                <p class="description"></p><a href="#" class="learn-more" style="color:rgb(255,255,255);"></a>
            </div>
        </div>
        <div class="col-lg-1 col-md-1"></div>
    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
